public_old/

*.log
*.tmp
*.tmp.*
log.txt
*.sublime-project
*.sublime-workspace
.vscode/
.history/

.idea/
*.iml
.sourcemaps/
.sass-cache/
.tmp/
.versions/
dist/
node_modules/
temp/
hooks/
platforms/
plugins/android.json
plugins/ios.json
www/
$RECYCLE.BIN/

.DS_Store
Thumbs.db
UserInterfaceState.xcuserstate
